.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

section {
  width: 100%;
  padding: 1.5rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-form-field {
  margin-bottom: 1rem;
  width: 100%;
}

mat-label {
  font-weight: bold;
  color: #777;
}

p {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}

button[mat-raised-button] {
  width: 100%;
  margin-top: 1rem;
}

/* Responsive Styles */
@media (max-width: 872px) {
  .rating {
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    max-width: 90%;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  mat-form-field {
    margin-bottom: 0.8rem;
  }

  button[mat-raised-button] {
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .rating {
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
