/* Style for Home page */
.home {
  max-width: 1200px;
  margin-top:50px;
  margin-left:400px;
  padding: 20px;
}

.home h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 2rem;
}



/* Responsive Styles */
@media (max-width: 872px) {
  .home {
    margin-top:250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .event-grid {
    grid-template-columns: 1fr;
  }

  .home h1 {
    font-size: 2rem;
  }

  .home p {
    font-size: 1rem;
  }


}

@media (max-width: 492px) {
  .home {
    margin-top:250px;
    padding: 5px;
  }

  .home h1 {
    font-size: 1.8rem;
  }


}

